<!-- ionCard -->
<ion-card *ngIf="cityWWeather && cityWWeather.temperature" (click)="openModal()">
  <img src="{{cityWWeather.currentWeatherII.image}}" alt="" style="width: 100%; height: 150px;">
  <ion-card-header>
    <ion-label>{{cityWWeather.name}}</ion-label>
    <ion-label>{{cityWWeather.temperature}}</ion-label>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-icon slot="start" name="{{cityWWeather.currentWeatherII.icon}}"></ion-icon>
      <ion-icon slot="end" color="danger" name="close-circle-outline" (click)="removeLocation()"></ion-icon>
    </ion-item>
  </ion-card-content>
</ion-card>

<!-- ionSkeleton -->
<ion-card *ngIf="!cityWWeather">
  <ion-skeleton-text animated style="width: 100%; height: 150px;"></ion-skeleton-text>
  <ion-card-header>
    <ion-skeleton-text animated style="width: 35%; height: 50%;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 35%; height: 50%;"></ion-skeleton-text>
  </ion-card-header>

  <ion-card-content>
    <ion-item>

      <ion-thumbnail slot="start">
        <ion-skeleton-text animated style="width: 75%; height: 75%;"></ion-skeleton-text>
      </ion-thumbnail>

      <ion-thumbnail slot="end">
        <ion-skeleton-text animated style="width: 75%; height: 75%;"></ion-skeleton-text>
      </ion-thumbnail>

    </ion-item>

  </ion-card-content>
</ion-card>