<ion-header  *ngIf="listOfCities.length > 0">
  <ion-toolbar>
    <ion-segment [scrollable]="true" [value]="selectedTab" class="removeScroll">
      <ion-segment-button value="all">
        All Cities
      </ion-segment-button>
      <ion-segment-button value="{{city.name}}" *ngFor="let city of listOfCities">
        {{city.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding ion-align-items-center" *ngIf="listOfCities.length === 0">
  <h3 class="no_locations loca_color">
    THERE ARE NO LOCATIONS ADDED!
  </h3>

  <p class="no_locations">
    Please add locations to request some news.
  </p>

</ion-content>