<ion-header  *ngIf="listOfCities.length > 0">
  <ion-toolbar>
    <ion-segment [scrollable]="true" [value]="selectedTab" class="removeScroll">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="{{city.name}}" *ngFor="let city of listOfCities">
        {{city.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding ion-align-items-center" *ngIf="listOfCities.length === 0">
  <app-no-locations></app-no-locations>
</ion-content>