<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="ios">
      <ion-back-button defaultHref="/" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Locations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full" mode="ios">
    <ion-item>
      <ion-label position="floating">Filter by name</ion-label>
      <ion-input placeholder="Filter" [value]="inputValue" [clearInput]="true" color="danger"
        autofocus="true" (ionInput)="inputChange($event)"></ion-input>
    </ion-item>
    <ion-item *ngFor="let city of cityLists" mode="ios" (click)="selectCity(city)">
      <ion-label>{{city.name}}, {{city.state}}</ion-label>
      <ion-note color="{{verifyIfSelected(city).color}}">{{verifyIfSelected(city).text}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>