<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size-xs="12" size-md="4" size-lg="2" *ngFor="let city of listOfLocations">
        <!-- ionCard -->

        <!-- ionSkeleton -->
        <ion-card>
          <ion-skeleton-text animated style="width: 100%; height: 150px;"></ion-skeleton-text>
          <ion-card-header>
            <ion-skeleton-text animated style="width: 35%; height: 50%;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 35%; height: 50%;"></ion-skeleton-text>
          </ion-card-header>
        
          <ion-card-content>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
