<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="locations">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Locations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="weather">
      <ion-icon name="cloud-circle-outline"></ion-icon>
      <ion-label>Weather</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
